body {
  background-image: url("../images/background.jpg");
  background-color: #cccccc;
  width: 100%;
  height: 100vh;
}

h1,
h2 {
  text-align: center;
}

fieldset,
form,
#lifting {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
}

legend {
  text-align: center;
}

hr {
  height: 5px;
  background-color: red;
  border-color: blue;
  border-width: 3px;
}

label {
  display: block;
  margin: 0rem auto;
}

#bar {
  display: block;
  margin: 0 auto;
}

h1 {
  color: Red;
}

fieldset {
  color: red;
}

.pounds {
  display: block;
  margin: 0.5rem auto;
}

input[type="submit"] {
  display: block;
  width: 10%;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}
